body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dice-container {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin: 10px; /* Add spacing between the containers */
    background-color: lavender;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* To center text vertically */
}

.dice {
    width: 100px;
    height: 100px;
    background-color: transparent; /* Set the dice background to transparent */
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.dice:hover {
    background-color: #9966CC;
}



/* Add styles for the player labels */
#game-container > div > p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Add margin below the text */
}

/* Add styles for the player labels */
#game-container > div > p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Add margin below the text */
}

/* Add styles for the dice containers */
.dice-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    
}
/* Add styles for the player labels */
#game-container > div > p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Add margin below the text */
}

/* Add styles for the dice containers */
.dice-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    
}

/* Add styles for the dice */
.dice {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
   
}
